<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MoneyDealer"
        tools:targetApi="31">
        <activity
            android:name=".RegularPaymentWindow"
            android:exported="false" />
        <activity
            android:name=".TransactionWindow"
            android:exported="false" />
        <activity
            android:name=".AccountWindow"
            android:exported="false" />
        <activity
            android:name=".CategoryWindow"
            android:exported="false" />
        <activity
            android:name=".ProfileWindow"
            android:exported="false" />
        <activity
            android:name=".MainWindow"
            android:exported="false" />
        <activity
            android:name=".CurrencyWindow"
            android:exported="false" />
        <activity
            android:name=".ForgotWindow"
            android:exported="false" />
        <activity
            android:name=".RegistrationWindow"
            android:exported="false" />
        <activity
            android:name=".LoginWindow"
            android:exported="false" />
        <activity
            android:name=".WelcomeWindow3"
            android:exported="false" />
        <activity
            android:name=".WelcomeWindow2"
            android:exported="false" />
        <activity
            android:name=".WelcomeWindow1"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>